name: test

on: workflow_dispatch

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
        with:
          clean: false

      - run: |
          echo TEMP=$env:TEMP
          echo RUNNER_TEMP=$env:RUNNER_TEMP
